/* Mobile */

@media screen and (max-width: 768px) {

 /* 모바일에선 검색기능을 보이지 않게 한다.(반응형 웹) */
  
  
  .deskmobile {
    display:none;
  }
  .login {
    display:none;
  }
  .preview-bar {
    height:55px;
  }

}
/* Mobile (Large까지) */

@media screen and (max-width: 425px) {

  /* 모바일에선 검색기능을 보이지 않게 한다.(반응형 웹) */
  
  
  .DesktopMobile {
    display:none;
  }
  .login {
    display:none;
  }
    
  .preview-bar {
    height:55px;
  }

}
.border-bottom-primary {
  border-bottom: 3px #dd3d31 solid;
}