<!-- 메뉴바 -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <!-- menu바 아이콘 애니메이션 기능 추가 x자로 변하는거 -->
<div id="mySidenav" class="sidenav">
    <ul>
        <li class="active"><a href=<%="/"%>><i class="fa fa-home"></i><strong> Home</strong></a></li>
        <li><a href=<%="/contacts"%>><i class="fas fa-atom"></i> Contacts</a></li>
        <li><a href=<%="/posts"%>><i class="fas fa-atom"></i> Webstudy</a></li>
        <li><a href="#"><i class="fa fa-suitcase"></i> Portfolio </a></li>

        <li  data-toggle="collapse" data-target="#products" class="collapsed active">
            <a href="#"><i class="fa fa-gift fa-lg"></i> Project <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="products">
              <li class="active"><a href="#">JAVA</a></li>
              <li><a href="#">모바일응용설계</a></li>
              <li><a href="#">웹프로그래밍</a></li>
          </ul>

        <li><a href="#"><i class="fa fa-cog"></i> Services </a></li>
        <li><a href="#"><i class="fa fa-user"></i> About </a></li>
        <li><a href="#"><i class="fa fa-envelope"></i> Contact </a></li>
      </ul>
</div>

  
<div id="menucontainer">
<input type="checkbox" id="menuicon">
  <label for="menuicon">
    <span class="menubar1"></span>
    <span class="menubar2"></span>
    <span class="menubar3"></span>
  </label>
</div>
      
        <div class="container">            
          <a class="navbar-brand js-scroll-trigger" href="#page-top">MY HomePage</a>
            <!-- 모바일의 경우 오른쪽에 3줄의 메뉴바 -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fa fa-bars"></i>
            </button>
            <!-- /모바일의 경우 오른쪽에 3줄의 메뉴바 -->
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                  <a class="nav-link active js-scroll-trigger" href="/contacts/index">Index</a>
                </li>
              </ul>
            <!-- 검색 기능 -->
            <form class="Searchbtn form-inline" id="cssSearch">
              <input class="form-control" type="text" placeholder="Search">
              <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <!-- /검색 기능 -->
          </div>
        </div>
    </nav>
  </div>