<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <% include ../partials/loginbar %>
  </head>
  <body id="main">
    <% include ../partials/navOther %>
<!-- Header -->
<header style="height: 150px;">
</header>

<div class="container user user-index">

    <div class="contentBox">
     <h3 class="contentBoxTop">Users</h3>
     <ul class="floats">
      <% if(users == null || users.length == 0){ %>
       <div class="noData" colspan=100> There is no user yet.</div>
      <% } %>
      <% users.forEach(function(user) { %>
       <li>
        <a href="/users/<%= user.username %>"><%= user.username %></a>
       </li>
      <% }) %>
     </ul>
    </div>
 
   </div> <!-- container end -->
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright">manduMY &copy; Your Website 2019</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">manduMY</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--Navbar-->
<nav class="navbar navbar-light amber lighten-4 mb-4">

    
  
    <!-- Collapse button -->
    <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
      aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon1"><span></span><span></span><span></span></div>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent20">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->

<% include ../partials/menuAnimation %>
<% include ../partials/jsLibrary %>
  </body>
</html>